// Colors
$background-color: #232323;
$box-shadow-card-color: #d4d4d4;
$box-shadow-header-color: #bbbbbb;
$box-shadow-image-color: #979797;
$button-color: #9f9f9f;
$button-hover-color: #bebebe;
$card-header-color: #0062ff;
$setup-background-color: #7f7f7f;
$seccess-background-color: #20b2aa;

// Text Color
$text-gray-color: #858585;

// Base Colors
$green: #008000;
$red: #ff0000;
$white: #ffffff;